<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Info about pops</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <h1 class="text-center">Make a puppy</h1>
  <!-- rout "/puppies" litteraly we tell server to hold this info or it's on the server by action, it refers to a server-->
  <!-- <form action="/puppies" method="GET" class=""> -->
  <!-- doing method post -->
  <div class="col-md-3">
  </div>
    <div class="col-md-6" class="text-center">
    <form action="/puppies" method="POST">
        Name:<input type="text" name="name" id="name" class="form-control"><br>
        Age:<input type="text" name="age" id="age"class="form-control">
        <br>
        <button name="button" class="btn btn-success" class="text-center">Submit</button>
      </form>
    </div>
    <div class="col-md-3">
  </div>
 

<!-- <div class="row">
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div> -->

</body>
</html>
